<table class='articles'>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Is Active</th>
    <th colspan="3">Actions</th>
  </tr>
  <% @all_articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
      <td><%= article.isActive %></td>
      <td><%= link_to "Show", article_path(article) %>
        <% if logged_in? && (article.user == current_user || current_user.admin?) %>
          | <%= link_to "Edit", edit_article_path(article) %>

          | <%= link_to "Delete", article_path(article), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?",
      }
      %>
          </td>
        <% end %>
        </tr>
  <% end %>
</table>
