<h1>Showing Article details</h1>
<p><strong>Title: </strong><%= @article.title %></p>
<%= gravatar_for @article.user, size: 60 %>
<p><strong>Description: </strong><%= @article.description %></p>
<p><strong>Count: </strong><%= @article.count %></p>
<p><strong>Is Active: </strong><%= @article.isActive %></p>

<p>By : <%= @article.user.username if @article.user %></p>
<%= link_to "All Articles", articles_path %>
<% if logged_in? && @article.user == current_user %>
|
<%= link_to "Delete this Article", article_path(@article), data: {
                                                     turbo_method: :delete,
                                                     turbo_confirm: "Are you sure?",
                                                   } %>
|
<%= link_to "Edit this Article", edit_article_path(@article) %>
<% end %>