<h1 class="all_user_list">All Users</h1>

<div class='nav-style'>
  <%= link_to "Articles", articles_path %> |
  <%= link_to "About", about_path %> |
  <%= link_to "Users", users_path %> |
  <%= link_to "Signup", signup_path %>
</div>

<div class="apple_pagination">
  <%= will_paginate @users, :container => false %>
</div>

<% @users.each do |user| %>
  <div class='user'>
    <%= link_to user.username.upcase, user, class: "username" %>
    <%= gravatar_for(user, size: 60, className: "userImage") %>
    <p><%= pluralize(user.articles.count, "article") %></p>
    <%= link_to "View Profile", user %>

    <% if logged_in? %>
      <% if user === current_user %>
        | <%= link_to "Edit Profile", edit_user_path(user) %>
      <% end %>
      <% if current_user.admin? && user != current_user %>
        |
        <%= link_to "Delete Profile", user_path(user), data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        }, class: 'text-orange-700' %>

      <% end %>
    <% end %>

    <div>
      <p>Joined at <%= time_ago_in_words(user.created_at) %><p>
    </div>
  </div>
<% end %>

<div class="apple_pagination">
  <%= will_paginate @users, :container => false %>
</div>