<h1><%= @user.username %>'s Profile</h1>
<p><strong>Username: </strong><%= @user.username %></p>
<p><strong>Email: </strong><%= @user.email %></p>
<%= gravatar_for @user, size: 400 %>

<p><%= @user.username %>'s articles</p>

<%= render 'articles/article' %>